@model IEnumerable<Auth.Models.UserClients>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Блочная верстка в HTML5</title>
</head>
<body>
    <div id="sidebar">
        <div class="aaa">
            @ViewData["UserName"]
            @ViewData["AccountRole"]
            @ViewData["UserClientsEmployeeType"]
        </div>
        <h3>Ваши клиенты:</h3>
        <div>
            <div class="container, mainTable">
                <div class="row">
                    <div id="no-more-tables">
                        <table class="col-md-12 table-bordered table-condensed cf">

                            <tbody>
                                @if (Model != null)
                                {
                                    int a = 1;
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => a)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CompanyName)
                                        </tr>
                                        a++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <form method="post" action="~/Account/Logout/">
            <input type="submit" class="btnInpSt" value="Выход" />
        </form>
        <input type="submit" class="btnInpSt" value="Техподдержка" style="bottom: 40px" />
        <a class="btnInpSt" href="#SettingsPage" rel="modal:open" style="left: 75px; bottom: 80px">Настройки</a>

        <input type="submit" class="btnInpSt" value="Услуги" style="bottom: 120px" />
        <input type="submit" class="btnInpSt" value="Акции" style="bottom: 160px" />
        <a class="btnInpSt" href="#AddNewEmployeePage" rel="modal:open" style="left: 55px; bottom: 200px">Добавить клиента</a>


    </div>
    <div id="main" style="overflow:auto;">
        <div style="display: inline-flex; margin-top: 20px; margin-left: 10px;">

            <form action="~/Home/Back" method="post">
                <button type="submit" style="border: none; background-color: transparent;"><img src="@Url.Content("~/images/back.png")" /></button>
            </form>
            <form action="~/Home/GoToRoot" method="post">
                <button type="submit" style="border: none; background-color: transparent;"><img src="@Url.Content("~/images/home1.png")" /></button>
            </form>

            <a href="#AddFilePage" rel="modal:open" style="left: 155px; border: none; background-color: transparent;"><img src="@Url.Content("~/images/newFile1.png")" /></a>
        </div>
        <div class="line" style="margin-top: 10px; margin-left: 20px;"></div>
        <div id="FolderExplorer" style="margin-top: 20px;">
            @if (ViewData["rootFolder"] != null)
            {
                @foreach (var item in (ViewData["rootFolder"] as string[]))
                {
                    string folder = item.Substring(item.LastIndexOf("\\") + 1);
                    @if (ViewData["Role"] != null)
                    {
                        @if (ViewData["Role"].ToString() == "Специалист" && folder == "Первичные документы")
                        {
                            <div class="column" style="text-align: center; max-width: 130px; word-wrap: break-word;">
                                <form action="~/Home/OpenFolder" method="post">
                                    <button type="submit" style="border: none; background-color: transparent;" name="folder" value="@folder"><img src="@Url.Content("~/images/Folder2.png")" /></button>
                                    <label>@folder</label>
                                </form>
                            </div>
                        }
                    }
                    else
                    {
                            <div class="column" style="text-align: center; max-width: 130px; word-wrap: break-word;">
                                <form action="~/Home/OpenFolder" method="post">
                                    <button type="submit" style="border: none; background-color: transparent;" name="folder" value="@folder"><img src="@Url.Content("~/images/Folder2.png")" /></button>
                                    <label>@folder</label>
                                </form>
                            </div>
                    }
                }

                @foreach (KeyValuePair<string, string> item in ViewBag.Ext)
                {
                    <div class="column" style="text-align: center; max-width: 130px; word-wrap: break-word;">
                        <form action="~/Home/OpenFile" method="post">
                            <button type="submit" style="border: none; background-color: transparent;" name="file" value="@item.Key">
                                <img src="
                                        @switch (item.Value)
                                        {
                                            case ".doc":
                                                @Url.Content("~/images/extensions/docBtn.png")
                                                break;
                                            case ".docx":
                                                @Url.Content("~/images/extensions/docBtn.png")
                                                break;
                                            case ".pdf":
                                                @Url.Content("~/images/extensions/pdfBtn.png")
                                                break;
                                            case ".jpg":
                                                @Url.Content("~/images/extensions/jpgBtn.png")
                                                break;
                                            case ".JPG":
                                                @Url.Content("~/images/extensions/jpgBtn.png")
                                                break;
                                            case ".txt":
                                                @Url.Content("~/images/extensions/txtBtn.png")
                                                break;
                                            default:
                                                @Url.Content("~/images/extensions/unsupportedBtn.png")
                                                break;
                                        } " />
                            </button>
                        </form>
                        <label>@item.Key</label>
                    </div>
                }
            }

        </div>
    </div>
    <div id="footer"></div>

</body>
</html>

@section Scripts {
    <script>

        $(function () {
            $("#EmployeeList").load('Home/EmployeeList');
        });

        $(function () {
            $("#AddNewEmployeePage").load('Home/AddNewEmployee');
        });



    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <div id="AddFilePage" class="WindowPosition" style="display: none; overflow: initial;">
        <form action="~/Home/addFile" method="post" enctype="multipart/form-data">
            <input type="file" name="uploadedFile" />
            <input type="submit" value="Загрузить" />
        </form>
    </div>

    <div id="SettingsPage" style="display: none; overflow: initial;">
        <a class="btn" id="btnt" href="#EmployeeList" rel="modal:open" style="left: 35px">Открыть список сотрудников</a>
    </div>

    <div id="EmployeeList" style="display: none; overflow: initial; "></div>

    <div id="AddNewEmployeePage" style="display: none; height: 450px; overflow: initial; "></div>

}


<style>


    a.btn {
        color: #fff;
        background: #FF0066;
        padding: .5rem 1rem;
        display: inline-block;
        border-radius: 10px;
        transition-duration: .25s;
        border: none;
        font-size: 14px;
    }

        a.btn:hover {
            background: #22272a;
        }


    element.style {
        display: none;
    }

    .btnInpSt {
        width: 243px;
        height: 35px;
        font-size: 18px;
        color: #0094ff;
        position: absolute;
        bottom: 0px;
        left: 2px;
    }

    .mainTable {
        position: inherit;
        margin-left: 20px;
        width: 200px;
        height: 650px;
    }


    .btnAdd {
        width: 150px;
        height: 30px;
        font-size: 15px;
        color: #0094ff;
    }

    .aaa {
        color: red;
        font-style: italic;
    }

    .top {
        top: 3px;
        width: auto;
    }

    .no-close .ui-dialog-titlebar-close {
        display: none
    }

    .partialView {
        margin-top: 40px;
        width: 400px;
        height: auto;
    }

    #sendMsg {
        width: auto;
        left: 5px;
    }

    #cash {
        width: auto;
        left: 355px;
    }

    #sidebar {
        background-color: #eee;
        float: left;
        width: 250px;
        height: 900px;
        border: solid 1px black;
        position: absolute;
        top: 30px;
        left: 150px;
    }

    #main {
        background-color: #eee;
        height: 695px;
        width: 1340px;
        position: absolute;
        border: solid 1px black;
        top: 30px;
        left: 405px;
    }

    #footer {
        background-color: #eee;
        position: absolute;
        height: 200px;
        width: 1340px;
        border: solid 1px black;
        top: 730px;
        left: 405px;
    }

    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: auto;
        padding: 10px;
    }

    .line {
        width: 1300px;
        height: 5px;
        border-bottom: 3px solid lightblue;
        position: absolute;
    }
</style>