@model IEnumerable<Auth.Models.UserClients>

<!DOCTYPE html>
<html>
@{

}
<head>
    <meta charset="utf-8">
    <title>Блочная верстка в HTML5</title>

</head>
<body>
    <div id="sidebar">
        <div class="aaa">
            @ViewData["User"]
        </div>
        <h3>Ваши клиенты:</h3>
        <div>
            <div class="container, mainTable">
                <div class="row">
                    <div id="no-more-tables">
                        <table class="col-md-12 table-bordered table-condensed cf">

                            <tbody>
                                @if (Model != null)
                                {
                                    int a = 1;
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => a)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CompanyName)
                                        </tr>
                                        a++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <form method="post" action="~/Account/Logout/">
            <input type="submit" class="btnInpSt" value="Выход" />
        </form>
        <input type="submit" class="btnInpSt" value="Техподдержка" style="bottom: 40px" />
        <input type="submit" class="btnInpSt" value="Настройки" style="bottom: 80px" />
        <input type="submit" class="btnInpSt" value="Услуги" style="bottom: 120px" />
        <input type="submit" class="btnInpSt" value="Акции" style="bottom: 160px" />
        <input type="button" class="btnInpSt" value="Добавить клиента" style="bottom: 200px" onclick="window.location.href='@Url.Action("AddClient", "Home")';" />

    </div>
    <div id="main" style="overflow:auto;">
        <div style="display: inline-flex; margin-top: 20px; margin-left: 10px;">

            <form action="~/Home/Back" method="post">
                <button type="submit" style="border: none; background-color: transparent;"><img src="@Url.Content("~/images/backBtn2.png")" /></button>
            </form>
            <form action="~/Home/GoToRoot" method="post">
                <button type="submit" style="border: none; background-color: transparent;"><img src="@Url.Content("~/images/homeBtn.png")" /></button>
            </form>
        </div>
        <div class="line" style="margin-top: 10px; margin-left: 20px;"></div>
        <div style="margin-top: 20px;">


            @if (ViewData["rootFolder"] != null)
            {
                @foreach (var item in (ViewData["rootFolder"] as string[]))
                {
                    int a = item.LastIndexOf("\\");
                    string s = item.Substring(a + 1);
                    <div class="column" style="text-align: center; max-width: 130px; word-wrap: break-word;">
                        <form action="~/Home/OpenFolder" method="post">
                            <button type="submit" style="border: none; background-color: transparent;" name="folder" value="@s"><img src="@Url.Content("~/images/Folder2.png")" /></button>
                        </form>
                        <label>@s</label>
                    </div>
                }
                

                @foreach (KeyValuePair<string, string> item in ViewBag.Ext)
                {
                    <div class="column" style="text-align: center; max-width: 130px; word-wrap: break-word;">
                        <form action="~/Home/OpenFile" method="post">
                            <button type="submit" style="border: none; background-color: transparent;" name="file" value="@item.Key">
                                <img src="
                                        @switch (item.Value)
                                        {
                                            case ".doc":
                                                @Url.Content("~/images/docBtn222.png")
                                                break;
                                            case ".pdf":
                                                @Url.Content("~/images/pdfBtn.png")
                                                break;
                                            default:
                                                @Url.Content("~/images/unsupportedBtn.png")
                                                break;
                                        } "/>
                            </button>
                        </form>
                        <label>@item.Key</label>
                    </div>
                }
            }

        </div>
    </div>
    <div id="footer">

        <input type="submit" id="cash" class="btnInpSt top" value="Зарплата" />
        <input type="submit" id="cash" class="btnInpSt top" value="Налоги" style="left: 455px" />
    </div>
</body>
</html>


<style>
    .btnInpSt {
        width: 243px;
        height: 35px;
        font-size: 18px;
        color: #0094ff;
        position: absolute;
        bottom: 0px;
        left: 2px;
    }

    .mainTable {
        position: inherit;
        margin-left: 20px;
        width: 200px;
        height: 650px;
    }


    .btnAdd {
        width: 150px;
        height: 30px;
        font-size: 15px;
        color: #0094ff;
    }

    .aaa {
        color: red;
        font-style: italic;
    }

    .top {
        top: 3px;
        width: auto;
    }

    #sendMsg {
        width: auto;
        left: 5px;
    }

    #cash {
        width: auto;
        left: 355px;
    }

    #sidebar {
        background-color: #eee;
        float: left;
        width: 250px;
        height: 900px;
        border: solid 1px black;
        position: absolute;
        top: 30px;
        left: 150px;
    }

    #main {
        background-color: #eee;
        height: 695px;
        width: 1340px;
        position: absolute;
        border: solid 1px black;
        top: 30px;
        left: 405px;
    }

    #footer {
        background-color: #eee;
        position: absolute;
        height: 200px;
        width: 1340px;
        border: solid 1px black;
        top: 730px;
        left: 405px;
    }

    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: auto;
        padding: 10px;
    }

    .line {
        width: 1300px;
        height: 5px;
        border-bottom: 3px solid lightblue;
        position: absolute;
    }
</style>