@model IEnumerable<Auth.Models.UserClients>

<!DOCTYPE html>
<html>
@{

}
<head>
    <meta charset="utf-8">
    <title>Блочная верстка в HTML5</title>

</head>
<body>
    <div id="sidebar">
        <div class="aaa">
            @ViewData["User"]
        </div>
        <h3>Ваши клиенты:</h3>
        <div>
            <div class="container, mainTable">
                <div class="row">
                    <div id="no-more-tables">
                        <table class="col-md-12 table-bordered table-condensed cf">

                            <tbody>
                                @if (Model != null)
                                {
                                    int a = 1;
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => a)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CompanyName)
                                        </tr>
                                        a++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <form method="post" action="~/Account/Logout/">
            <input type="submit" class="btnInpSt" value="Выход" />
        </form>
        <input type="submit" class="btnInpSt" value="Техподдержка" style="bottom: 40px" />
        <input type="submit" class="btnInpSt" value="Настройки" style="bottom: 80px" />
        <input type="submit" class="btnInpSt" value="Услуги" style="bottom: 120px" />
        <input type="submit" class="btnInpSt" value="Акции" style="bottom: 160px" />
        <input type="button" class="btnInpSt" value="Добавить клиента" style="bottom: 200px" onclick="window.location.href='@Url.Action("AddClient", "Home")';" />

    </div>
    <div id="main">
        <div>
            
            <form action="~/Home/Back" method="post" >
                <input type="submit" value="Назад" />
            </form>
            <form action="~/Home/GoToRoot" method="post">
                <input type="submit" value="Попасть в корневую папку" />
            </form>
        </div>
        <div>
            
            @if (ViewData["ChooseFolder"] != null)
            {
                @foreach (var item in (ViewData["ChooseFolder"] as string[]))
                {
                    int a = item.LastIndexOf("\\");
                    string s = item.Substring(a + 1);
                    <div class="column" style="background-color:#aaa;">
                        <form action="~/Home/OpenFolder" method="post">
                            <input type="submit" name="folder" value="@s" />
                        </form>
                    </div>
                }
             }
                    
        </div>
    </div>
    <div id="footer">
        
        <input type="submit" id="cash" class="btnInpSt top" value="Зарплата" />
        <input type="submit" id="cash" class="btnInpSt top" value="Налоги" style="left: 455px" />
    </div>
</body>
</html>


<style>
    .btnInpSt {
        width: 243px;
        height: 35px;
        font-size: 18px;
        color: #0094ff;
        position: absolute;
        bottom: 0px;
        left: 2px;
    }

    .mainTable {
        position: inherit;
        margin-left: 20px;
        width: 200px;
        height: 650px;
    }


    .btnAdd {
        width: 150px;
        height: 30px;
        font-size: 15px;
        color: #0094ff;
    }

    .aaa {
        color: red;
        font-style: italic;
    }

    .top {
        top: 3px;
        width: auto;
    }

    #sendMsg {
        width: auto;
        left: 5px;
    }

    #cash {
        width: auto;
        left: 355px;
    }

    #sidebar {
        background-color: #eee;
        float: left;
        width: 250px;
        height: 900px;
        border: solid 1px black;
        position: absolute;
        top: 30px;
        left: 150px;
    }

    #main {
        background-color: #eee;
        height: 695px;
        width: 1340px;
        position: absolute;
        border: solid 1px black;
        top: 30px;
        left: 405px;
    }

    #footer {
        background-color: #eee;
        position: absolute;
        height: 200px;
        width: 1340px;
        border: solid 1px black;
        top: 730px;
        left: 405px;
    }

    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: auto;
        padding: 10px;
    }

</style>