@model IEnumerable<Auth.Models.User>

@{
    ViewBag.Title = "Admin panel";
    
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Css/BootstrapTableCss.css" rel="stylesheet" />
<body>
    <div id="head">
        <h2>Вы зашли в панель администратора</h2>
        <h2>Ваши зарегистрированные компании:</h2>
    </div>

    <div class="container, mainTable" id="mainForm">
        <div class="row">
            <div id="no-more-tables">
                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th class="idStyle">
                                <h5>№</h5>
                            </th>
                            <th>
                                <h5>Название компании</h5>
                            </th>
                            <th>
                                <h5>Логин компании</h5>
                            </th>
                            <th>
                                <h5>Пароль</h5>
                            </th>
                            <th>
                                <h5>Дата добавления</h5>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                       @if (Model != null)
                        {
                        int a = 1;
                           @foreach (var item in Model)
                            {
                            <tr style="@(item.isArchived == true ? "color: gray" : "color: black")">
                            <td>
                                @Html.DisplayFor(modelItem => a)
                            </td>
                            <td>
                                <form action="~/Admin/GetCompanyInfo" method="post">
                                    <input type="submit" value="@item.CompanyName" title="@(item.isArchived == true ? "В архиве с: " + item.inArchive : "")" name="companyName" style="border: none; background: none; width: auto; height: auto;" />
                                </form>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Login)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            
                            @using (Html.BeginForm("ArchivingUnarchivingCompany", "Admin", FormMethod.Post, new { @id = "Form1" }))
                            {
                                <td style="border-color: white; background-color: white">
                                    <form action="~/Admin/ArchivingUnarchivingCompany/" method="post">
                                        <button type="submit" class="deleteCompanyBtn" title="@(item.isArchived == true ? "Восстановить компанию из архива" : "Поместить компанию в архив")" name="Id" value="@item.Id"><img src="@(item.isArchived == true ? @Url.Content("~/images/restoreImg.JPG") : @Url.Content("~/images/deleteImg.png"))" class="deleteCompanyBtn"/></button>
                                    </form>
                                </td>
                            }
                            
                        </tr>
                            a++;
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <h1 style="color: gray; font-style:italic; font-size: 15px;">*Нажмите на название компании чтобы увидеть подробную информацию о ней</h1>
    </div>
    <div id="buttonsBlock">
        <div style="text-align:left;">
            <input type="button" class="btnAdd" value="Добавить новую компанию" onclick="window.location.href='@Url.Action("AddNewCompany", "Admin")';" />
        </div>
    </div>

    @using (Html.BeginForm("DeleteAllUsers", "Admin", FormMethod.Post, new { @id = "Form2" }))
    {
        <div id="buttonsBlock">
            <div style="text-align:left;">
                <form action="~/Admin/DeleteAllUsers/" method="post">
                    <input type="submit" class="btnAdd" style="position: absolute; top: 120px; visibility: hidden" value="Удалить все компании" />
                </form>
            </div>
        </div>
    }
    <div id="buttonsBlock">
        <div style="text-align:left;">
            <input type="button" class="btnAdd" style="position: absolute; top: 60px;" value="Выход" onclick="window.location.href='@Url.Action("Logout", "Account")';" />
        </div>
    </div>


</body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("body").on("submit", "#Form1", function () {
        return confirm("Вы уверены?");
    });
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("body").on("submit", "#Form2", function () {
        return confirm("Вы действительно хотите удалить все компании?");
    });
</script>





<style>
    .idStyle {
        width: 10px;
    }

    .isArchived {
        color: black;
    }

    #head {
        white-space: nowrap;
        height: auto;
        width: auto;
        position: absolute;
        top: 60px;
        left: 535px;
    }

    #mainForm {
        height: 395px;
        width: 620px;
        position: absolute;
        top: 180px;
        left: 535px;
    }

    #buttonsBlock {
        position: absolute;
        top: 240px;
        width: 150px;
        left: 350px;
        float: left;
    }

    .deleteCompanyBtn {
        background-image: url(/images/deleteImg.png);
        background-color: transparent; /* make the button transparent */
        background-repeat: no-repeat; /* make the background image appear only once */
        background-position: 0px 0px; /* equivalent to 'top left' */
        border: none; /* assuming we don't want any borders */
        cursor: pointer; /* make the cursor like hovering over an <a> element */
        height: 20px; /* make this the size of your image */
        width: 20px; /* make this the size of your image */
    }

    .companyNameStyle {
        width: 150px;
    }

    .mainTable {
        position: absolute;
        left: 600px;
        top: 200px;
        width: 300px;
    }

    .btnAdd {
        white-space: normal;
        width: 150px;
        height: 50px;
        font-size: 15px;
        color: #0094ff;
    }

        .btnAdd:hover {
            background-color: #c5c7d0;
        }

        .btnAdd:active {
            background-color: #e2d0bb;
        }
</style>